﻿<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@700&display=swap">
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">

    @RenderSection("head", required: false)
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="~/">Zen form</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    @foreach (var item in WebApp.Site.Sitemap)
                    {
                        if (!item.IsHidden && item.Items.Count == 0)
                        {
                            <li class="nav-item @(item.Id == WebApp.PageId ? "active" : "")">
                                <a class="nav-link" href="@item.Permalink">@item.MenuTitle</a>
                            </li> 
                        }
                        if (!item.IsHidden && item.Items.Count >= 1)
                        {
                            <li class="nav-item dropdown @(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? "active" : "")">
                                <a href="@item.Permalink" class="nav-link dropdown-toggle" data-toggle="dropdown">@item.MenuTitle</a>
                                <div class="dropdown-menu">
                                    @foreach (var subitem in item.Items)
                                    {
                                        <a href="@subitem.Permalink" class="dropdown-item">@subitem.MenuTitle</a>
                                    }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="py-4 flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    image
                </div>
                <div class="col-sm">
                    texte
                </div>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>

